<div class="masthead">
    <div class="language-nav"> 
        <ul> 
            <a>CSS</a>
            <a>HTML</a>
            <a>Javascript</a>
            <a>Ruby</a>
        </ul>
    </div>
    <img class="logo" src="assets/AA_Times_Logo.png">

    <div class="masthead-links"> 
        <li> 
            <time> Tuesday, October 18, 2016</time>
        </li>

        <li>
            <i class="fa-solid fa-newspaper"></i>
            <button>Today's Paper</button>
        </li>

        <li> 
            <i class="fa-solid fa-video"></i>
            <button>Video</button>
        </li>
       
        <li>
            <a>77°F</a>
        </li>

        <li> 
            <a>AAO <strong>+100%</strong></a> 
        </li>
    </div>
</div>



